workflow/ghl-appointment-automation.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ghl-appointment",
        "options": {
          "responseData": "={ \"status\": \"received\" }"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -704,
        -160
      ],
      "id": "22a218f6-8a70-4e1a-a5b5-2e198e1c3e5a",
      "name": "Webhook",
      "webhookId": "68cea4dc-d45a-401d-915f-171dfb3d5086"
    },
    {
      "parameters": {
        "jsCode": "const data = $json.body; \n\nif (!data.appointment_id) {\n  throw new Error('Missing required field: appointment_id');\n}\n\nif (!data.contact || (!data.contact.email && !data.contact.phone)) {\n  throw new Error('Missing contact email or phone');\n}\n\nconst contact = data.contact;\nconst appt = data.appointment;\n\nreturn [\n  {\n    appointment_id: data.appointment_id,\n    ghl_contact_id: contact.id,\n    first_name: contact.first_name,\n    last_name: contact.last_name,\n    email: contact.email,\n    phone: contact.phone,\n\n    starts_at: appt?.starts_at ?? null,\n    ends_at: appt?.ends_at ?? null,\n    status: appt?.status ?? null,\n\n    project_type: appt?.custom_fields?.project_type ?? null,\n    lead_source: appt?.custom_fields?.lead_source ?? null,\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        -160
      ],
      "id": "66f6ea92-8d54-4b4d-90e2-2f7321e00865",
      "name": "Validate & Normalize"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appT4N25BAk7bpNf7",
          "mode": "list",
          "cachedResultName": "GHL Integrations",
          "cachedResultUrl": "https://airtable.com/appT4N25BAk7bpNf7"
        },
        "table": {
          "__rl": true,
          "value": "tbl3zwDD557aWQvnU",
          "mode": "list",
          "cachedResultName": "Appointments",
          "cachedResultUrl": "https://airtable.com/appT4N25BAk7bpNf7/tbl3zwDD557aWQvnU"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Appointment ID": "={{ $node[\"Validate & Normalize\"].json.appointment_id }}",
            "Starts At": "={{ $node[\"Validate & Normalize\"].json.starts_at }}",
            "Ends At": "={{ $node[\"Validate & Normalize\"].json.ends_at }}",
            "Status": "={{ $node[\"Validate & Normalize\"].json.status }}",
            "Lead Source": "={{ $node[\"Validate & Normalize\"].json.lead_source }}",
            "Contact": "={{ [ $('Upsert Contact').item.json.id ] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Appointment ID",
              "displayName": "Appointment ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contact",
              "displayName": "Contact",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Starts At",
              "displayName": "Starts At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ends At",
              "displayName": "Ends At",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "booked",
                  "value": "booked"
                },
                {
                  "name": "cancelled",
                  "value": "cancelled"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Source",
              "displayName": "Lead Source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -96,
        -160
      ],
      "id": "f1db1c99-47a6-4d74-b354-1feab008fa24",
      "name": "Create Appointment",
      "credentials": {
        "airtableTokenApi": {
          "id": "ImTWL2XbhaiD081B",
          "name": "Airtable GHL Integration"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{ SLACK_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=New Appointment Booked!\n\nName: {{ $node[\"Upsert Contact\"].json.fields.Name }}\nStart Time: {{ $node[\"Validate & Normalize\"].json.starts_at }}\nEnd Time: {{ $node[\"Validate & Normalize\"].json.ends_at }}\nStatus: {{ $node[\"Validate & Normalize\"].json.status }}\nProject Type: {{ $node[\"Validate & Normalize\"].json.project_type }}\nLead Source: {{ $node[\"Validate & Normalize\"].json.lead_source }}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        112,
        -160
      ],
      "id": "71ad1dab-7c52-4bca-831d-773abec970a4",
      "name": "Send Slack Notification"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook-test.com/c97898da3eb3e1e73ec219ca141ea89e",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Response Format",
              "value": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        320,
        -160
      ],
      "id": "7c298048-9412-42a2-bc1e-784352696632",
      "name": "Send Appointment Data",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appT4N25BAk7bpNf7",
          "mode": "list",
          "cachedResultName": "GHL Integrations",
          "cachedResultUrl": "https://airtable.com/appT4N25BAk7bpNf7"
        },
        "table": {
          "__rl": true,
          "value": "tbln1lnW0DUoGvngH",
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://airtable.com/appT4N25BAk7bpNf7/tbln1lnW0DUoGvngH"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "GHL Contact ID": "={{ $json.ghl_contact_id }}",
            "Name": "={{ $json.first_name }} {{ $json.last_name }}",
            "Email": "={{ $json.email }}",
            "Phone": "={{ $json.phone }}",
            "Project Type": "={{ $json.project_type }}"
          },
          "matchingColumns": [
            "GHL Contact ID"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Project Type",
              "displayName": "Project Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "GHL Contact ID",
              "displayName": "GHL Contact ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Appointments",
              "displayName": "Appointments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -304,
        -160
      ],
      "id": "b627b3a0-8eb4-458f-bc4f-c7a8a181a3f4",
      "name": "Upsert Contact",
      "credentials": {
        "airtableTokenApi": {
          "id": "ImTWL2XbhaiD081B",
          "name": "Airtable GHL Integration"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bbf66807-a0f4-41d1-a9ef-b6fa94b302ce",
              "name": "appointment_id",
              "value": "={{ $node[\"Create Appointment\"].json.fields[\"Appointment ID\"] }}",
              "type": "string"
            },
            {
              "id": "8a5b42d9-7a97-4e4d-9f88-b74102c15342",
              "name": "external_crm_id",
              "value": "={{ $node[\"Upsert Contact\"].json.id }}",
              "type": "string"
            },
            {
              "id": "480eda95-17b8-4753-9bb9-916f8d5a0e17",
              "name": "callback_sent",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "829c0928-35ad-4d99-a007-840e329098e1",
              "name": "callback_response",
              "value": "={{ $json.error || $json }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        -160
      ],
      "id": "7d2ff06d-2876-43c6-ab31-4c37a21ab387",
      "name": "Save Callback Status"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate & Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Normalize": {
      "main": [
        [
          {
            "node": "Upsert Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Appointment": {
      "main": [
        [
          {
            "node": "Send Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Slack Notification": {
      "main": [
        [
          {
            "node": "Send Appointment Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Appointment Data": {
      "main": [
        [
          {
            "node": "Save Callback Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Contact": {
      "main": [
        [
          {
            "node": "Create Appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "44d50a40-83b0-412e-b546-a08b5756f8a7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9c41b1c254d8ccb3d1c914fcfad54e7033db89c8d81e74c8f7dbbb60e8d08cea"
  },
  "id": "XgSeam6zwghEuJ3h",
  "tags": []
}